@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

/* =========================
   Design Tokens
========================= */
:root {
  --color-green: #32e389;
  --color-green-deep: #1fc16f;
  --color-green-light: #e6fbeb;

  --font-sans: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  --tw-font-sans: var(--font-sans);
}

/* =========================
   Global Base
========================= */
html {
  font-family: var(--font-sans);
}

body,
#root {
  height: 100%;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   Typography System
========================= */
@layer base {
  .typo-h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .typo-h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .typo-h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  .typo-body {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .typo-body-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .typo-caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .typo-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .typo-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
