/* App.css */

/* 전체 배경 설정 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e7eb; /* 화면 바깥 배경 (진한 회색) */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 393px;
  height: 852px;
  background-color: #f3f4f6; /* 앱 내부 배경 (연한 회색) */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* 모바일 기기 느낌을 위한 그림자 */
  overflow: hidden; /* 영역 밖으로 나가는 요소 숨김 */
  position: relative;
}

#root::-webkit-scrollbar {
  display: none;
}
